body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    background-color: rgb(209, 227, 236);
    font-size: 15px;
    height: 100%;
}

figure{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 17px;
    display: block;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
}
img{
    border-radius: 12px;
    width: 100%;
    margin-bottom: 10px;
}
figcaption{
    margin-bottom: 10px;
    color: black;
    text-align: center;
    padding: 10px;
}
#imp{
    margin-bottom: 10px;
}
